@inherits LayoutComponentBase

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 d-flex">             
            <a class="navbar-brand p-2 flex-grow-1" href="" >Library.WebApp</a>
            <div class="ml-md-auto">
                <LoginStatusComponent></LoginStatusComponent>
            </div>  
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
